mpd/.config/mpd/mpd.log
mpd/.config/mpd/mpd.db
mpd/.config/mpd/mpd.pid
mpd/.config/mpd/mpdstate
mpd/.config/mpd/playlists/
mpv/.config/mpv/watch_later/
zenbu/.config/zenbu/__pycache__/
oomox/.config/oomox/export_config/
oomox/.config/oomox/ui_config.json
oomox/.config/oomox/recent_palette.json
oomox/.config/oomox/migrations
ncmpcpp/.config/ncmpcpp/error.log
newsboat/.newsboat/cache.db
newsboat/.newsboat/history.cmdline
newsboat/.newsboat/history.search
btop/.config/btop/btop.log
packer_compiled.lua
