* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
}

#window {
  background-color: #16242D;
  border-radius: 10px;
}

#outer-box {
  background-color: #16242D;
  border: 4px solid #3D3B6D;
  border-radius: 10px;
}

#input {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #273B47;
}

#entry {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  color: #C6C6BA;
  border-radius: 8px;
}

#entry:selected {
  background-color: #3D3B6D;
  color: #92A0A7;
}
