@import "colors.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: normal;
  font-size: 12pt;
  min-height: 0;
}

window#waybar {
  border-radius: 0px;
  background-color: @background;
}

#power-profiles-daemon,
#workspaces,
#window,
#custom-weather,
#tray,
#network,
#pulseaudio,
#clock,
#battery,
#backlight {
  padding: 2px 15px;
  background-color: @color0;
  border: none;
  border-radius: 10px;
}

#power-profiles-daemon {
  margin: 5px 5px 5px 10px;
  color: @color10;
}

#workspaces {
  margin: 5px;
  color: @color15;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0px;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button {
  padding: 0px 5px;
  background-color: transparent;
  color: @color15;
}

#workspaces button:hover {
  color: @color12;
}

#workspaces button.focused {}

#workspaces button.urgent {}

#window {
  margin: 5px;
  color: @color14;
}

#custom-weather {
  margin: 5px;
  color: @color15;
}

#tray {
  margin: 5px;
}

#network {
  margin: 5px;
  color: @color15;
}

#pulseaudio {
  margin: 5px;
  color: @color12;
}

#pulseaudio.muted {
  color: @color9;
}

#pulseaudio:hover {
  color: @color12;
}

#clock {
  margin: 5px;
  color: @color15;
}

#clock:hover {
  color: @color12;
}

#battery {
  margin: 5px 10px 5px 5px;
  color: @color10;
}

#battery:hover {
  color: @color9;
}

#battery.charging,
#battery.plugged {
  color: @color11;
}

#backlight {
  margin: 5px;
  color: @color15;
}

tooltip {
  background: @color0;
  margin: 20px;
  padding: 15px;
  border: none;
  border-radius: 10px;
}
